@model VideoViewModel
@{
    ViewData["Title"] = "VideoStreaming";
}
@section styles{
    <link rel="stylesheet" href="/user/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
}
<div class="col-10">
    <h1 id="btnlike"></h1>
    @{
        var iVideoUrl = "/Video/" + Model.VideoName;

        <video id="video" width="900" height="560" controls>
            <source src="@iVideoUrl" type='video/mp4;codecs="avc1.4D401E, mp4a.40.2"'>
        </video>
    }
    <h4 class="mt-2">@Model.VideoTitle</h4>
    <div class="video-metadata">
        <span>@Model.VideoViewCount  views . @Model.PublishDate.ToString("dd MMMM yyyy")</span>
    </div>
    <div id="feedback" class="row">
        <div class="col-12">
            <button class="btn btn-outline-success float-right ml-1">
                <span><i class="fas fa-share"></i></span>
                <span>Share</span>
            </button>
            @{
                if (Model.IsDislikedBefore)
                {
                    <button  data-toggle="tooltip" data-placement="top" title="Dislike" class="btn btn-success float-right ml-1">
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span id="btndislike">@Model.DislikesCount</span>
                    </button>
                }
                else
                {
                    <button id="btndislike" data-toggle="tooltip" data-placement="top" title="Dislike" class="btn btn-outline-success float-right ml-1">
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span>@Model.DislikesCount</span>
                    </button>
                }
            }

            @{
                if (Model.IsLikedBefore)
                {
                    <button id="btnLike" data-toggle="tooltip" data-placement="top" title="Unlike" class="btn btn-success float-right">
                        <span><i id="iconLike" class="fas fa-thumbs-up"></i></span>
                        <span>@Model.LikesCount</span>
                    </button>
                }
                else
                {
                    <button id="btnLike" data-toggle="tooltip" data-placement="top" title="Like" class="btn btn-outline-success float-right">
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span>@Model.LikesCount</span>
                    </button>
                }
            }
        </div>
    </div>
    <hr>
    <div class="video-bottom-section row">
        <div class="col-1">
            <a href="#">
                <img class="channel-icon" src="/user/thumbnil.jpg" />
            </a>
        </div>
        <div class="video-details col-4 float-left">
            <a href="#" class="video-channel-name">@Model.ChannelName</a>
            <div class="video-metadata">
                <span>@Model.SubscriberCount subscribers</span>
            </div>
        </div>
        <div class="col-7">
            @{
                if (Model.IsScribedUser)
                {
                    <button class="btn btn-outline-danger float-right" disabled>Subscribed</button>
                }
                else
                {
                    <a asp-action="Subscribe" asp-controller="Subscription" asp-area="" asp-route-channelId="@Model.ChannelId" asp-route-videoId="@Model.Id" class="btn btn-danger float-right">Subscribe</a>
                }
            }
        </div>
    </div>
    <hr />
    <p>@Html.Raw(Model.Description)</p>
    <hr />
    <h5>Comments</h5>
    <div class="row">
        <div class="col-12">
            <input id="txtComment" type="text" class="form-control" placeholder="Add a public comments" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <button id="btnComment" class="btn btn-outline-success float-right ml-2">Comment</button>
            <button class="btn btn-outline-success float-right">Cancel</button>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.CommentList)
        {
            <div class="col-1">
                <div><img class="channel-icon" src="/user/thumbnil.jpg" /></div>
            </div>
            <div class="col-11 mb-4">
                <div>@item.User.Email</div>
                <div>@item.Description</div>
                <div>
                    <a id="btnLikes" data-toggle="tooltip" data-placement="top" title="Like">
                        <span><i class="fas fa-thumbs-up mr-2"></i></span>
                    </a>
                    <a id="btnDislike" data-toggle="tooltip" data-placement="top" title="Dislike">
                        <span><i class="fas fa-thumbs-down mr-2"></i></span>
                    </a>
                    <a id="btnReply" data-toggle="tooltip" data-placement="top" title="Reply">
                        Reply
                    </a>
                </div>
            </div>
          
        }
    </div>
    <br /><br /><br />
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            var videoId = '@Model.Id'
            var Id = null;

            //Insert and get Comments
            $('#btnComment').click(function () {
                var comment = {
                    videoId: videoId,
                    description: $('#txtComment').val(),
                };

                $('#txtComment').val('');
                $.ajax({
                    method: 'POST',
                    url: '/Comment/AddComment',
                    contentType: "application/json",
                    data: JSON.stringify(comment),
                    success: function () {
                       location.reload();
                    },
                    error: function () {
                       window.location.href = '/Account/Login'
                    }
                })
            })

            //Insert Like into Database
            $('#btnLike').click(function () {
                $.when(
                    $.get(
                        {
                            dataType: 'JSON',
                            url: '/Like/AddLike',
                            data: {
                                videoId: videoId,
                            },
                            success: function (data) {
                                $.ajax({
                                    dataType: 'JSON',
                                    url: '/Like/GetLike',
                                    data: {
                                        videoId: videoId,
                                    },
                                    success: function (data) {
                                        $('#btnLike').html("<span><i class='fas fa-thumbs-up mr-1'></i></span>" + data.likeCount)
                                        $("#btnLike").removeClass("btn btn-outline-success").addClass("btn btn-success");
                                        console.log(data)
                                    }
                                })
                            },
                            error: function () {
                                window.location.href = '/Account/Login';
                            }
                        }),
                );

            })

            //Insert Dislike into Database
            $('#btndislike').click(function () {
                $.when(
                    $.ajax(
                        {
                          /*  type: 'POST',*/
                            dataType: 'JSON',
                            url: '/Dislike/AddDisLike',
                            data: {
                                videoId: videoId,
                            },
                            success: function (data) {
                                location.reload();
                            },
                            error: function () {
                                window.location.href = '/Account/Login';
                            }
                        }),
                );

            })

            //Insert video view into Database
            function reset() {
                startTime = new Date();
            }

            $('video')[0].addEventListener('play', reset);
            $('video')[0].addEventListener('pause', reset);
            $('video')[0].addEventListener('stop', reset);

            var IsPlayed = true;

            $('video')[0].addEventListener('timeupdate', (e) => {
                let elapsedSeconds = (new Date() - startTime) / 1000;
                if (elapsedSeconds > 10 && IsPlayed) {
                    IsPlayed = false;

                    $.ajax(
                        {
                            type: 'POST',
                            dataType: 'JSON',
                            url: '/VideoView/AddVideoView',
                            data: { videoId: videoId },
                        });
                }
            });
        });
    </script>
}

