@model VideoViewModel
@{
    ViewData["Title"] = "VideoStreaming";
}
@section styles{
    <link rel="stylesheet" href="/user/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<style>
    #btnCommentLike{
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
    #btnCommentReply {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
</style>
}
<div class="col-10">
    <h1 id="btnlike"></h1>
    @{
        var iVideoUrl = "/Video/" + Model.VideoName;

        <video id="video" width="900" height="560" controls>
            <source src="@iVideoUrl" type='video/mp4;codecs="avc1.4D401E, mp4a.40.2"'>
        </video>
    }
    <h4 class="mt-2">@Model.VideoTitle</h4>
    @*<div id="load" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>*@
    <div class="video-metadata">
        <span>@Model.VideoViewCount  views . @Model.PublishDate.ToString("dd MMMM yyyy")</span>
    </div>
    <div id="feedback" class="row">
        <div class="col-12">
            <button id="btnShares" data-toggle="modal" data-target="#btnShare" class="btn btn-outline-success float-right ml-1">
                <span><i class="fas fa-share"></i></span>
                <span>Share</span>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="btnShare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div id="modalBody" class="modal-dialog" style="width:360px" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="btnShareLabel">Share</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ml-3">
                            <a id="linkFacebook" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]="><i class="fab fa-facebook-square fa-3x mr-3" style="color:#3b5998"></i></a>
                            <a id="linkLinkdin" href="http://www.linkedin.com/shareArticle?mini=true&url="><i class="fab fa-linkedin fa-3x mr-3" style="color:#0976b4"></i></a>
                            <a id="linkTwitter" href="https://twitter.com/intent/tweet?text="><i class="fab fa-twitter-square fa-3x mr-3" style="color:#55acee"></i></a>
                            <a id="linkGooglePlus" href="https://plus.google.com/share?url="><i class="fab fa-google-plus-square fa-3x mr-3" style="color:#dd4b39"></i></a>
                            <a href="#"><i class="fab fa-instagram-square fa-3x mr-3" style="color:#f77737"></i></a>
                        </div>
                        <div>
                            <input id="txtUrl" type="text" class="form-control col-11 ml-3" />
                            <button id="btnCopy" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard" type="button" class="btn btn-success float-right mr-3 mb-3 mt-2">Copy</button>
                            <br />
                        </div>
                        @*<div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>*@
                    </div>
                </div>
            </div>
            @{
                if (Model.IsDislikedBefore)
                {
                    @*<button id="btndislike" data-toggle="tooltip" data-placement="top" title="Dislike" class="btn btn-success float-right ml-1">
                            <span><i class="fas fa-thumbs-down"></i></span>
                            <span>@Model.DislikesCount</span>
                        </button>*@
                }
                else
                {
                    @*<button id="btndislike" data-toggle="tooltip" data-placement="top" title="Dislike" class="btn btn-outline-success float-right ml-1">
                            <span><i class="fas fa-thumbs-down"></i></span>
                            <span>@Model.DislikesCount</span>
                        </button>*@
                }
            }

            @{
                if (Model.IsLikedBefore)
                {
                    <button id="btnLike" data-toggle="tooltip" data-placement="top" title="Unlike" class="btn btn-success float-right">
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span>@Model.LikesCount</span>
                    </button>
                }
                else
                {
                    <button id="btnLike" data-toggle="tooltip" data-placement="top" title="Like" class="btn btn-outline-success float-right">
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span>@Model.LikesCount</span>
                    </button>
                }
            }
        </div>
    </div>
    <hr>
    <div class="video-bottom-section row">
        <div class="col-1">
            <a href="#">
                <img class="channel-icon" src="/user/thumbnil.jpg" />
            </a>
        </div>
        <div class="video-details col-4 float-left">
            <a href="#" class="video-channel-name">@Model.ChannelName</a>
            <div class="video-metadata">
                <span>@Model.SubscriberCount subscribers</span>
            </div>
        </div>
        <div class="col-7">
            @{
                if (Model.IsScribedUser)
                {
                    <button class="btn btn-outline-danger float-right" disabled>Subscribed</button>
                }
                else
                {
                    <a asp-action="Subscribe" asp-controller="Subscription" asp-area="" asp-route-channelId="@Model.ChannelId" asp-route-videoId="@Model.Id" class="btn btn-danger float-right">Subscribe</a>
                }
            }
        </div>
    </div>
    <hr />
    <p>@Html.Raw(Model.Description)</p>
    <hr />
    <h5>Comments</h5>
    <div class="row">
        <div class="col-12">
            <input id="txtComment" type="text" class="form-control" placeholder="Add a public comments" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <button id="btnComment" class="btn btn-outline-success float-right ml-2">Comment</button>
            <button class="btn btn-outline-success float-right">Cancel</button>
        </div>
    </div>
    <div id="comments" class="row">
        <div id="commentData">
         
        </div>
        @*@foreach (var item in Model.CommentList)
            {
                <div class="col-1">
                    <div><img class="channel-icon" src="/user/thumbnil.jpg" /></div>
                </div>
                <div class="col-11 mb-4">
                    <div>@item.User.Email</div>
                    <div>
                        @item.Description
                    </div>
                    <div>
                        <a id="btnLikes" data-toggle="tooltip" data-placement="top" title="Like">
                            <span><i class="fas fa-thumbs-up mr-2"></i></span>
                        </a>
                        <a id="btnReply" data-toggle="tooltip" data-placement="top" title="Reply">
                            Reply
                        </a>
                    </div>
                </div>

            }*@
    </div>
    <br /><br /><br />
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script type="text/javascript">

        $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            var videoId = '@Model.Id'
            var Id = null;

            //for demo purpose when this site will go live then use this site url
            var pageURL = 'https://www.c-sharpcorner.com/UploadFile/cd7c2e/sharing-url-on-facebok-using-Asp-Net/';


           //If click share button textbox will fill url link
                $('#btnShares').click(function () {
                    var pageURL = $(location).attr('href');
                    $('#txtUrl').val(pageURL);
                });

                $('#linkFacebook').click(function () {
                    var link = $('#linkFacebook');
                    link.attr('href', link.attr('href') + pageURL);
                })

                $('#linkLinkdin').click(function () {
                    var link = $('#linkLinkdin');
                    link.attr('href', link.attr('href') + pageURL);
                })

                $('#linkTwitter').click(function () {
                    var link = $('#linkTwitter');
                    link.attr('href', link.attr('href') + pageURL);
                })

                $('#linkGooglePlus').click(function () {
                     var link = $('#linkGooglePlus');
                     link.attr('href', link.attr('href') + pageURL);
                })

                //copy to clipboard
        $(document).on('click', '#btnCopy', function () {
            var value = $('#txtUrl').val();
            $('#btnCopy').html("Copied");
            $('#btnCopy').prop('disabled', true);
            copytext(value, this);
        })

        function copytext(text, context) {
            var textField = document.createElement('textarea');
            textField.innerText = text;

            if (context) {
                context.parentNode.insertBefore(textField, context);
            } else {
                document.body.appendChild(textField);
            }

            textField.select();
            document.execCommand('copy');
            textField.parentNode.removeChild(textField);
        }
            //Get All comments from Database
                $.ajax({
                   dataType: 'JSON',
                   url: '/Comment/GetComments',
                   data: {
                      videoId: videoId,
                   },
                    success: function (data) {
                        $.each(data, function (key, value) {
                            //if (value.isUserLikedCommentBefore == true) {
                            //    $('#btnCommentLike').html("<span><i class='far fa-thumbs-up mr-1'></i></span>" + data.likeCount)
                            //}
                            //else {
                            //    $('#btnCommentLike').html("<span><i class='fas fa-thumbs-up mr-1'></i></span>" + data.likeCount)
                            //}
                            console.log(value)
                          //console.log(value)
                            var div = ` <div class="col-1">
                <div><img class="channel-icon" src="/user/thumbnil.jpg" /></div>
            </div>
            <div class="col-11 mb-4">
                <div>${value.userName}</div>
                <div>
                 ${value.description}
                </div>
                <div>
                    <button style="background-color:Transparent" id="btnCommentLike" data-toggle="tooltip" data-placement="top" title="Like" value=${value.id}>
                        <span><i class="far fa-thumbs-up mr-1"></i></span>
                        <span class="ml-1" id='${value.id}'>${value.likeCount}</span>
                    </button>
                    <button class="ml-3" style="background-color:Transparent" id="btnCommentReply" data-toggle="tooltip" data-placement="top" title="Reply">
                        Reply
                    </button>
                        <h1 id='${value.id}'>${value.id}</h1>
                </div>
            </div>`
                            $('#comments').append(div);
                        });
                   }
                })
            //Insert and get Comments
            $('#btnComment').click(function () {
                var comment = {
                    videoId: videoId,
                    description: $('#txtComment').val(),
                };

                $('#txtComment').val('');
                $.ajax({
                    method: 'POST',
                    url: '/Comment/AddComment',
                    contentType: "application/json",
                    data: JSON.stringify(comment),
                    success: function (data) {
                        $.ajax({
                            method: 'POST',
                            url: '/Comment/GetCurrentComment',
                            data: {
                                videoId: videoId,
                            },
                            success: function (data) {
                              //  console.log(data);

                                var div = `<div class="col-1">
                            <div><img class="channel-icon" src="/user/thumbnil.jpg" /></div>
                        </div>
                        <div class="col-11 mb-4">
                            <div>${data.userName}</div>
                            <div>
                             ${data.description}
                            </div>
                            <div>
                                <a id="btnCommentLike" data-toggle="tooltip" data-placement="top" title="Like" ${data.Id}>
                                    <span><i class="fas fa-thumbs-up mr-2"></i></span>
                                    <h1 id='likeValue'>cc</h1>
                                </a>
                                <a id="btnReply" data-toggle="tooltip" data-placement="top" title="Reply">
                                    Reply
                                </a>
                            </div>
                        </div>`
                                $('#comments').prepend(div);
                            },
                        })
                    },
                    error: function () {
                       window.location.href = '/Account/Login'
                    }
                })

            })
        //Get Comment Like from Database
      /*  //$.ajax*//*({*/
        //    dataType: 'JSON',
        //    url: '/CommentLike/GetAllCommentsLike', 
        //    data: {
        //        commentId: commentId,
        //    },
        //    success: function (data) {
        //        console.log(data)
        //        var id = commentId;
        //        alert(id)
        //        $('#' + id).text(data.likeCount)
        //        //  window.location.href = '/CommentLike/GetAllCommentsLike'
        //        // $('#likeValue').text(data.likeCount)
        //        // $('#btnCommentLike').html("<span><i class='fas fa-thumbs-up mr-1'></i></span>" + data.likeCount)
        //    }
        //})
        // Insert CommentLike Into Database
        $("#comments").on('click', '#btnCommentLike', function () {
            var commentId = jQuery(this).val();
            $.when(
                //add comment like
                $.ajax({
                    method: 'POST',
                    url: '/CommentLike/AddCommentsLike',
                    data: {
                        commentId: commentId,
                    },
                    beforeSend: function () {
                        $('#' + commentId).html("<i class='fas fa-circle-notch fa-spin'></i>");
                    },
                    success: function (data) {
                       // console.log(data)
                        //Get comment like
                        $.ajax({
                            dataType: 'JSON',
                            url: '/CommentLike/GetCommentLike',
                            data: {
                                commentId: commentId,
                            },
                            success: function (data) {
                                var id = commentId;
                                //alert(id)
                                $('#' + id).text(data.likeCount)
                              //  window.location.href = '/CommentLike/GetAllCommentsLike'
                               // $('#likeValue').text(data.likeCount)
                                // $('#btnCommentLike').html("<span><i class='fas fa-thumbs-up mr-1'></i></span>" + data.likeCount)
                            }
                        })
                    },
                    complete: function () {
                        /* $("#loads").hide();*/
                    },
                }),

              
            )
        })

        //Insert Like into Database
        $('#btnLike').click(function () {
             $.when(
                 $.ajax({
                    method: 'POST',
                    dataType: 'JSON',
                    url: '/Like/AddLike',
                    data: {
                        videoId: videoId,
                     },
                     beforeSend: function () {
                         $("#btnLike").html("<i class='fas fa-circle-notch fa-spin'></i>");
                     },
                     success: function (data) {
                        if (data.isLikedBefore == true) {
                            $.ajax({
                                dataType: 'JSON',
                                url: '/Like/Deletelike',
                                data: {
                                    videoId: videoId,
                                },
                                success: function (data) {
                                    $('#btnLike').html("<span><i class='fas fa-thumbs-up mr-1'></i></span>" + data.likeCount)
                                    $("#btnLike").removeClass("btn btn-success").addClass("btn btn-outline-success");
                                }
                            })
                        }
                        else {
                            $("#btnLike").removeClass("btn btn-outline-success").addClass("btn btn-success");
                        }
                        $.ajax({
                            dataType: 'JSON',
                            url: '/Like/GetLike',
                            data: {
                                videoId: videoId,
                            },
                            success: function (data) {
                                $('#btnLike').html("<span><i class='fas fa-thumbs-up mr-1'></i></span>" + data.likeCount)
                            }
                        })
                     },
                     complete: function () {
                        /* $("#loads").hide();*/
                     },
                    error: function () {
                        window.location.href = '/Account/Login';
                    }
                }),
                );

            })

            //Insert Dislike into Database
            //$('#btndislike').click(function () {
            //    $.when(
            //        $.ajax(
            //            {
            //              /*  type: 'POST',*/
            //                dataType: 'JSON',
            //                url: '/Dislike/AddDisLike',
            //                data: {
            //                    videoId: videoId,
            //                },
            //                success: function (data) {
            //                    if (data.isLikedBefore) {
            //                        $.ajax({
            //                            dataType: 'JSON',
            //                            url: '/Like/Deletelike',
            //                            data: {
            //                                videoId: videoId,
            //                            },
            //                            success: function (data) {
            //                                $('#btnLike').html("<span><i class='fas fa-thumbs-up mr-1'></i></span>" + data.likeCount)
            //                                $("#btnLike").removeClass("btn btn-success").addClass("btn btn-outline-success");
            //                                console.log(data);
            //                            }
            //                        })
            //                    }
            //                    $.ajax({
            //                        dataType: 'JSON',
            //                        url: '/Dislike/GetDislike',
            //                        data: {
            //                            videoId: videoId,
            //                        },
            //                        success: function (data) {
            //                            $('#btndislike').html("<span><i class='fas fa-thumbs-down mr-1'></i></span>" + data.dislikesCount)
            //                            $("#btndislike").removeClass("btn btn-outline-success").addClass("btn btn-success");
            //                        }
            //                    })
            //                },
            //                error: function () {
            //                    window.location.href = '/Account/Login';
            //                }
            //            }),
            //    );

            //})

            //Insert video view into Database
            function reset() {
                startTime = new Date();
            }

            $('video')[0].addEventListener('play', reset);
            $('video')[0].addEventListener('pause', reset);
            $('video')[0].addEventListener('stop', reset);

            var IsPlayed = true;

            $('video')[0].addEventListener('timeupdate', (e) => {
                let elapsedSeconds = (new Date() - startTime) / 1000;
                if (elapsedSeconds > 10 && IsPlayed) {
                    IsPlayed = false;

                    $.ajax(
                        {
                            type: 'POST',
                            dataType: 'JSON',
                            url: '/VideoView/AddVideoView',
                            data: { videoId: videoId },
                        });
                }
            });
       /* });*/

    </script>
}

