@model VideoViewModel
@{
    ViewData["Title"] = "VideoStreaming";
}
@section styles{
    <link rel="stylesheet" href="/user/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
}
<div class="col-10">
    @{
        var iVideoUrl = "/Video/" + Model.VideoName;
    
        <video id="video" width="900" height="560" controls>
            <source src="@iVideoUrl" type='video/mp4;codecs="avc1.4D401E, mp4a.40.2"'>
        </video>
    }
    <h4 class="mt-2">@Model.VideoTitle</h4>
    <div class="video-metadata">
        <span>@Model.VideoViewCount  views</span>
    </div>
    <hr>
    <div class="video-bottom-section row">
        <div class="col-1">
            <a href="#">
                <img class="channel-icon" src="/user/thumbnil.jpg" />
            </a>
        </div>
        <div class="video-details col-4 float-left">
            <a href="#" class="video-channel-name">@Model.ChannelName</a>
            <div class="video-metadata">
                <span>@Model.SubscriberCount subscribers</span>
            </div>
        </div>
        <div class="col-7">
            @{
                if (Model.IsScribedUser)
                {
                    <button class="btn btn-outline-danger float-right" disabled>Subscribed</button>
                }
                else
                {
                    <a asp-action="Subscribe" asp-controller="Subscription" asp-area="" asp-route-channelId="@Model.ChannelId" asp-route-videoId="@Model.Id" class="btn btn-danger float-right">Subscribe</a>
                }
            }
        </div>
    </div>
    <br /><br /><br />
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var videoId = '@Model.Id'

            function reset() {
                startTime = new Date();
            }

            $('video')[0].addEventListener('play', reset);
            $('video')[0].addEventListener('pause', reset);
            $('video')[0].addEventListener('stop', reset);

            var IsPlayed = true;

            $('video')[0].addEventListener('timeupdate', (e) => {
                let elapsedSeconds = (new Date() - startTime) / 1000;
                if (elapsedSeconds > 10 && IsPlayed) {
                    IsPlayed = false;

                    $.ajax(
                        {
                            type: 'POST',
                            dataType: 'JSON',
                            url: '/VideoView/AddVideoView',
                            data: { videoId: videoId },
                        });
                }
            });
        });
    </script>
}

