@model YoutubeClone.Foundation.BusinessObjects.Video
@{
    ViewData["Title"] = "VideoStreaming";
}
@section styles{
    <link rel="stylesheet" href="/user/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
}
<div class="col-10">
    @{
        var iVideoUrl = "/Video/" + Model.VideoName;
        <video width="900" height="560" controls autoplay>
            <source src="@iVideoUrl" type="video/mp4">
        </video>
    }
    <h4 class="mt-2">@Model.VideoTitle</h4>
    <div class="video-metadata">
        <span>12 views</span>
        •
        <span>@DateTime.Now</span>
    </div>
    <hr>
    <div class="video-bottom-section row">
        <div class="col-1">
            <a href="#">
                <img class="channel-icon" src="/user/thumbnil.jpg" />
            </a>
        </div>
        <div class="video-details col-4 float-left">
            <a href="#" class="video-channel-name">@Model.ChannelName</a>
            <div class="video-metadata">
                <span>13 subscriber</span>
            </div>
        </div>
        <div class="col-7">
            <a  asp-action="Index" asp-controller="Subscription" asp-area="" class="btn btn-danger float-right">Subscribe</a>
        </div>
    </div>


    <h1>@ViewBag.Id</h1>
    <h1>@Model.ChannelName</h1>
    <h1>@Model.VideoName</h1>
    <h1>@Model.VideoTitle</h1>
</div>

